/* You can add global styles to this file, and also import other style files */
table, th, td {
  border: 1px solid black;
  padding: 5px;
}

from, label, input {
 
  padding: 5px;
}
input {
  margin-top: 10px;
}

a {
  color: blue;
  
}

a:hover {
  cursor: pointer;
  color:blue;
}

