<a routerLink = '/product' class="btn btn-info"> + Add</a>

<table>
  
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email Id</th>
  <th>Mobile Number</th>
  <th colspan="2">Action</th>
  <tr *ngFor = "let product of products">
    
    <td>{{product.first_name}}</td>
    <td>{{product.last_name}}</td>
    <td>{{product.email}}</td>
    <td>{{product.mobile}}</td>
    <td (click) = "deleteProduct(product.id)"><a class="btn btn-danger">Delete</a></td>
    <td [routerLink] = "['/updateProduct', product.id]"><a class="btn btn-primary">Update</a></td>
  </tr>
</table>
